body{
    background-color: #8FB8DE;
    font-family: Arial;
}

a{
    text-decoration: none; 
    color:black;
    font-size: 16px; 
    text-align: center;
    border-radius: 20px;
    box-shadow: 80px black; 
}

/* a:hover{
    background-color: #006917;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    border-radius: 20px;
} */

body>header{
    background-color: #7AFDD6;
    display:flex;
    width:80em;
    margin:0 auto 2em auto;    
    padding:0;
    border-radius: 20px;
    /* box-shadow: 8px 8px 8px 8px black; */
    box-shadow: 0px 0px 20px 1px;
}
body>header img{
    height:5em;
}

body>header #menu {
    background-color: #7AFDD6;
    display:flex;
    width:50%;
    align-items: stretch;
    border-radius: 20px;
}

body>header a{
    background-color: #7AFDD6;
    flex:1;
    text-align: center;
    padding-top:2em;
    border-radius: 20px;
    transition: color 10s ease;
    transition: background-color 0.6s ease;
}

body>header a:hover
{
    color: #fff;
    background-color: #539361;
    border-radius: 20px;
}

body>header ul{
    list-style: none;
    border-radius: 20px;
}

body>ul li a .tags{
    line-height: 10em;
    border: #000 2px solid;
}

body>header #user
{
    margin-left: auto;
    flex:0.2;
    /* border: 1px solid #F03A47; */
}
body>header #user>a{
    display:block;
    text-align: center;
    padding:2em 0;
    width:100%;
    border-radius: 20px;
}
body>header #user ul{ 
    background-color: #7AFDD6;
    display: none;
    position: absolute;
    padding:0;
    margin:0;
    margin-left:-5em;
    border-radius: 20px;

    z-index: 1;
}
body>header #user ul li a{
    display:block;
    width:10em;
    padding:1em;
}
body>header #user:hover ul{
    display:block;
}


#wrapper{
    display:flex;    
    width:80em;
    margin:0 auto 2em auto;
}

#wrapper aside{
    background-color: #7AFDD6;
    flex:1;
    padding:1em;
    border-radius: 20px;    
    box-shadow: 0px 0px 20px 1px;
}
#wrapper aside img{
    display: block;
    width:50%;
    margin:auto;
}

#wrapper main{
    flex:3;
    padding-left:1em;
    height: 80vh;
}
#wrapper main article{
    background-color: #7AFDD6;
    padding:1em;
    margin-bottom: 1em ;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 1px;
}
#wrapper main article h3{
    margin:0;
    padding:0;
    font-weight: normal;
    font-size:1em;
}
#wrapper main article time{
    float:left;
}
#wrapper main article address{
    text-align: right;
    margin-bottom: 1em;
}

#wrapper main article address :hover{
    padding: 10px;
    color: #fff;
    background-color: #539361;
    border-radius: 10px;
}

#wrapper main article p{
    margin:0;
}
#wrapper main article footer{
    margin-top: 1em;
    text-align: right;
}

#wrapper main article footer a:hover{
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    background-color: #539361;
}

#wrapper main article footer small{
    float:left;
}
#wrapper {
    line-height: 2.5;
}

#wrapper.admin{flex-direction: row-reverse}
#wrapper.admin aside{flex:1;margin-left:1em;border-radius:0;padding:0;}
#wrapper.admin main{flex:2;background-color: #fff;border-radius: 0;padding:0;}
#wrapper.admin h2{text-align: center;}
#wrapper.admin h3{margin:0;}
#wrapper.admin nav{text-align: right;}
#wrapper.admin article{border:1px solid #ddd;border-radius: 1em;padding:1em;margin:1em;}
#wrapper.admin article p{float:left;margin:0;}


.parameters dl dt{float:left;font-weight: bold;line-height: 1.5em;}
.parameters dl dd{margin-left:15em;line-height: 1.5em;}

.contacts {
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content: flex-start ;
}
.contacts article{
    width:25em;
    height:7em;
    margin-right: 1em;
}
.contacts article img{
    float:right;
    height: 5em;
}

pre{
    color:#aaa;
}

form dl dt{float:left;font-weight: bold;line-height: 1.5em;}
form dl dd{margin-left:10em;line-height: 1.5em;margin-bottom: 1em}
form dl dd textarea{width:40em;height: 15em;}
